.file-acces {
    background-color: #c8c8c8;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    margin-bottom: 18px;
    padding: 8px 30px;
    text-transform: uppercase;
}
.file-acces:hover {

}

.file-acces i {
    font-size: 1.7em;
    margin-right: 25px;
}
.append-div {
    background-color: #eee;
    border: 1px solid #b0b0b0;
    color: #056a00;
    margin-bottom: 18px;
    padding: 18px;
    width: 100%;
    display: none;
}

.append-div a{
    color: #056a00;
 }

